footer .left {
  width: 75vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: -1vh;
}

footer .left h4 {
  padding-left: 2vw;
}

footer .left h3 {
  padding-left: 3vw;
}

footer .right {
  padding-top: 1.5vh;
  width: 20vw;
}

footer {
  display: flex;
  flex-wrap: wrap;
  background-color: SEASHELL;
  margin:0px;
  padding: 0px;
  height: 5vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
