.timeline {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100vw;
  /* padding-top: 8vh; */
  display: flex;
  jusiify-content: space-around;
}

body {
  scroll-behavior: 'smooth';
}

.timeline-content {
  height: 50vh;
  width: 100vw;
}

.hline {
  width:105vw;
  height:5px;
  background: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 244px;
  z-index: 0;
}

body {
  color: black;
  background: black;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/64/Cole_Thomas_The_Course_of_Empire_Destruction_1836.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 700px;
}

/* ---- Timeline elements ---- */
.event {
  font: bold 14px arial;
  /* padding: 30px; */
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.event:nth-child(even) {
  flex-direction:column-reverse;
  position: relative;
  bottom: 34px;
}

.date {
  width: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2rem;
  border: 2px solid #666;
  background-color: white;
}

/* ---- Hover effects ---- */
.event:hover {
  cursor: pointer;
  color: red;
}

.move-button {
  position: fixed;
  z-index: 2;
}

.content {
  padding: 20px 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  white-space: normal;
  width: 400px;
}

.point {
  height: 5px;
  width: 15px;
  /* border-radius: 50%; */
  background-color: rgba(255,255,255, 0.9);
  margin: 10px;
}
